<h1>Editing List</h1>

<%= render 'form' %>

<%= form_for @invite , :url => invites_path do |f| %>
    <%= f.hidden_field :list_id, :value => @invite.list_id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send Invite', class: 'btn-primary' %>
<% end %>


<%= link_to 'Back', lists_path %>
