<p id="notice"><%= notice %></p>
<h1><%= link_to "All activities", activities_path %></h1>

<h1>My Lists</h1>
<div class="row">
  <div class="col-md-4">
    <% @lists.each do |list| %>


        <div class="bg-primary" style="padding: 10px; font-family: bold; color: black "> <%= link_to  list.name, list_path(list) %> </div>
        <div class="bg-info">
        <%=  link_to "show", list_path(:id => list.id) %>
        <% if current_user.id == list.owner_id %>
            <%= link_to 'Edit', edit_list_path(list) %>
            <%= link_to 'Destroy', list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
        <br>

    <% end %>
</div>
</div>
<br>

<%= link_to 'New List', new_list_path %>
