<p id="notice"><%= notice %></p>

<h1>My Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to  list.name, list_properties_path(list) %></td>
        <td><%=  link_to "show", list_path(:id => list.id) %></td>
        <% if current_user.id == list.owner_id %>
            <td><%= link_to 'Edit', edit_list_path(list) %></td>
            <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
