<p id="notice"><%= notice %></p>


<h3><%= link_to  @list.name, list_properties_path(@list) %></h3>

<h3>invite user</h3>
<%# simple_form_for(:user, url: invite_list_path,
                                html: { class: 'mezbahinvite'}) do |f| %>
    <%# f.input :email, placeholder: 'Email', label: false %>
    <%# f.button :submit, 'Invite User', class: 'btn-primary' %>
<%# end %>



<%= form_for @invite , :url => invites_path do |f| %>
    <%= f.hidden_field :list_id, :value => @invite.list_id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send Invite', class: 'btn-primary' %>
<% end %>




<h2><%= @members.size %> Members</h2>
<% @members.each do |member| %>
    <ul>
      <li><%= member.email %></li>
    </ul>
<% end %>


<% if current_user.id == @list.owner_id %>
<%= link_to 'Edit', edit_list_path(@list) %> |
<% end %>
<%= link_to 'Back', lists_path %>


<div class="event">
  <p><%= pluralize(@list.comment_threads.size, "comment") %> in <strong><%= @list.name %></strong>  </p>
</div>

<div class="comments">
  <h2>Comments</h2>
  <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
</div>

<%= render 'shared/actions', resource: @list %>
<span class="like-count"><%= pluralize(@list.cached_votes_up, 'like') %></span>