



<div class="well">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <div>
        <% if @user.avatars.present? %>
            <%= image_tag @user.avatars[0], size: "100x100"  %>
        <% else %>
            <%= image_tag avatar_url(@user), size: "100x100" %>
        <% end %>
      </div>
    </div>

      <div class="col-md-4" style="margin-left: 2%">
        <div><%= "#{@user.first_name}" + " " + "#{@user.last_name }"%></div>
        <div><%= @user.user_name %> </div>
        <div><%= @user.location %> </div>
        <div><%= @user.bio %> </div>
      </div>


      <div class="col-md-2">
        <% if user_signed_in? %>
            <div id="follow_user">
              <%= render :partial => "shared/follow_user", :locals => {:user => @user} %>
            </div>
        <% end %>
      </div>
        <% if is_current_user?(@user) %>
            <div class="col-md-2">
              <%= link_to 'Edit Profile', edit_user_registration_path , class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>

</div>





<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-6">
      <h2>My Activities</h2>

      <% @activities.each do |activity| %>
          <div class="activity">
            <div class="bg-primary" style="padding: 10px">
              <h4><%= link_to(activity.owner.first_name , activity.owner  , class: "activity-color" ) if activity.owner%>
                <p class= "activity-color"><%= render_activity activity  %></p></h4>
            </div>
          </div>
      <% end %>
      <div class="row col-md-8">
      <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>

      </div>
    </div>

  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-4">
<h2>My Properties</h2>

<table>
  <tbody>
  <% @properties.each do |property| %>
      <tr>
        <% if property.photo_url.thumb.url.present? %>
            <td><%= image_tag property.photo_url.thumb.url.to_s, alt: "property Image" %></td>
        <% else %>
            <td><%= image_tag "thumb_plogo.jpg" %></td>
        <% end %>
        <td><%= property.street_address %></td>
        <td><%= property.description %></td>
        <td><%= property.bedroom %></td>
        <td><%= property.bathroom %></td>
        <td><%= property.price %></td>
        <td><%=  link_to "show", property_path(:id => property.id) %></td>

      </tr>


  <% end %>

  </tbody>
</table>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>
</div>
</div>
</div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-4">
<h1>My Lists</h1>
    <% @lists.each do |list| %>


        <div class="bg-primary" style="padding: 10px"> <%= link_to  list.name, list_path(list) , class:  "bg-primary" %> </div>
        <div class="bg-info">
          <%=  link_to "show", list_path(:id => list.id) %>
          <% if current_user.id == list.owner_id %>
              <%= link_to 'Edit', edit_list_path(list) %>
              <%= link_to 'Destroy', list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        <br>

    <% end %>
      <%= will_paginate @lists, renderer: BootstrapPagination::Rails %>
  </div>
</div>
</div>
</div>

