<p id="notice"><%= notice %></p>

<p>
  <strong>Street address:</strong>
  <%= @property.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>


<p>
  <strong>Url:</strong>
  <%= @property.url %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @property.photo_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @property.tags %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @property.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @property.bathroom %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>


<% if current_user.id == @property.owner_id %>
<%= link_to 'Edit', edit_property_path(  :id => @property.id) %> |
<% end %>
<%# link_to 'Back', "#" %>
<h5>This Porperty added to lists</h5>
<% @property.lists.each do |f| %>
    <ul>
      <li><%= f.name %></li>
    </ul>
<% end %>
<br>
<br>
<br>

<h5>Add to lists</h5>
<%= form_for(@property, url: add_to_list_property_path,  :method => :POST) do |f| %>
    <%= f.collection_check_boxes(:list_ids, List.all, :id, :name) %>
    <%= f.submit  "Add to list"%>
<% end %>


<div class="event">
  <h1>
    <%= @property.street_address %>
  </h1>
</div>
<div class="comments">
  <h2>Comments</h2>
  <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
</div>
<%= render 'shared/actions', resource: @property %>
<span class="like-count"><%= pluralize(@property.cached_votes_up, 'like') %></span>