<p id="notice"><%= notice %></p>

<p>
  <strong>Street address:</strong>
  <%= @property.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>


<p>
  <strong>Url:</strong>
  <%= @property.url %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @property.photo_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @property.tags %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @property.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @property.bathroom %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>


<% if current_user.id == @property.owner_id %>
<%= link_to 'Edit', edit_list_property_path( :list_id => @property.list_id, :id => @property.id) %> |
<% end %>
<%= link_to 'Back', list_properties_path(:list_id => @property.list_id) %>


<div class="event">
  <h1>
    <%= @property.street_address %>
  </h1>
</div>
<div class="comments">
  <h2>Comments</h2>
  <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
</div>
<%= render 'shared/actions', resource: @property %>
<span class="like-count"><%= pluralize(@property.cached_votes_up, 'like') %></span>