

<div class="container-fluid">
<div class="row">
  <div class="col-md-4 ">
    <div style="padding: 5px" class="row" ><%= link_to 'Add Property', new_property_path, class:"btn btn-primary btn-lg  custom-button" %></div>
    <div style="padding: 5px" class="row"><%= link_to 'Add List', new_list_path,class:"btn btn-primary btn-lg   custom-button"  %></div>
    <div style="padding: 5px" class="row"><%= link_to 'My Lists', lists_path,class:"btn btn-primary btn-lg  custom-button"  %></div>
    <div style="padding: 5px" class="row"><%= link_to 'My Properties', properties_path,class:"btn btn-primary btn-lg  custom-button"  %></div>
    <div style="padding: 5px" class="row"><%= link_to "#{current_user.first_name}", user_path(:id => current_user.id),class:"btn btn-primary btn-lg  custom-button"  %></div>
  </div>
  <div class="col-md-8">
    <%= form_tag lists_path ,:method => :get do %>
        <div class="row">
          <%= text_field_tag :search, params[:search], :autocomplete => 'on',style: "width: 50%" %>
          <%= submit_tag "search", class: "btn btn-info" %>
        </div>

    <% end %>
    <h1>Latest Activities</h1>

    <% @activities.each do |activity| %>
        <div class="activity">
          <div class="bg-primary" style="padding: 10px">
            <h4><%= link_to( "@#{activity.owner.first_name}" , activity.owner  , class: "activity-color" ) if activity.owner%>
            <p class= "activity-color"><%= render_activity activity  %></p></h4>
          </div>
        </div>
    <% end %>
    <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>

  </div>
</div>
</div>
