<!DOCTYPE html>
<html>
<head>
  <title>RealEstate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= notice %>
<div class="well">
  <div class="row"  >
    <div class="container-fluid pull-right" >
      <% if user_signed_in? %>
          <%= current_user.email %>
          <%= link_to "sign out",destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg custom-button"   %>
      <% end %>
    </div>
  </div>


  <%= yield %>
</div>


</body>
</html>
