<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" >
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(@user, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <% if @token != nil %>
        <%= hidden_field_tag :invite_token, @token %>
    <% end %>
    <%= f.input :first_name, :placeholder => "First Name"  %>
    <%= f.input :last_name, :placeholder => "Last Name"  %>
    <%= f.input :password, autocomplete: "off", :placeholder => "change password", required: false %>
    <%= f.input :password_confirmation,:placeholder => "confirm password", required: false %>
    <%= f.input :bio, :placeholder => "Bio"  %>
    <%= f.input :location, :placeholder => "Location"  %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>

      </div>
</div>
</div>
</div>