<div class="container-fluid">
  <div class="row">
<div class="col-lg-3"></div>
  <div class="col-lg-4" >

<h2>Sign up</h2>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @token != nil %>
        <%= hidden_field_tag :invite_token, @token %>
    <% end %>
    <%= f.input :first_name, :placeholder => "First Name"  %>
    <%= f.input :last_name, :placeholder => "Last Name"  %>
    <%= f.input :user_name, :placeholder => "User Name" %>
    <%= f.input :email, required: true, autofocus: true,  :placeholder => "Email"  %>
    <%= f.input :password, required: true, :placeholder => "Password"  %>
    <%= f.input :password_confirmation, required: true, :placeholder => "Password Confirmation"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
</div>
</div>